<?xml version="1.0" encoding="utf-8"?>
<DataType Key="923cac12-2d2b-40bd-872b-38356e6e13af" Alias="ArticleBase - Content - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>ArticleBase - Content - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3678bf30-0761-4fa0-8ea7-8e369180b43a",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "RichText",
      "settingsElementTypeKey": "4115a917-6c5c-46f3-aef0-b76109c84ef9"
    },
    {
      "contentElementTypeKey": "24ccda54-e3a7-416b-b503-6f2f534777f1",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "CodeBlock",
      "settingsElementTypeKey": "ac645e60-86f5-4a89-8d68-4a1c87f599fe"
    },
    {
      "contentElementTypeKey": "88017cec-da1b-4467-bd8e-77267e9eccbe",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "Image",
      "settingsElementTypeKey": "3a551aef-0004-46cb-9026-c43cfa453337"
    },
    {
      "contentElementTypeKey": "abaa8f40-b6fd-434d-a892-7048f74f41ce",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "570f7cd4-a8fb-4be1-96f9-9813ba50b1f0",
      "label": "Divider"
    }
  ],
  "gridColumns": 3,
  "layoutStylesheet": "/wwwroot/css/site.css",
  "useLiveEditing": true,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>