<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1701086f-8f32-4448-a86c-c3516046bdd9" Alias="ArticleBase - RelatedArticles - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>ArticleBase - RelatedArticles - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 10,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "bd3d7e50-e131-43c3-9a9b-2b5fa0ee096a",
    "dynamicRoot": {
      "originKey": "bd3d7e50-e131-43c3-9a9b-2b5fa0ee096a",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>