<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b600577-7a70-4569-bcf7-2096301e06de" Alias="ArticleBase - Category - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>ArticleBase - Category - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 10,
  "minNumber": 1,
  "startNode": {
    "type": "content",
    "id": "4aee6d13-e0d8-4f27-a4a7-561420c0cb53",
    "dynamicRoot": {
      "originKey": "4aee6d13-e0d8-4f27-a4a7-561420c0cb53",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>