<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f460fb70-bffa-41bf-bdf3-126426cf72ae" Alias="CodeBlockContentSettings - LanguageTheme - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>CodeBlockContentSettings - LanguageTheme - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "base16-onedark",
    "vs2015",
    "github-dark"
  ]
}]]></Config>
</DataType>