<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a92eeda0-adfd-4316-9687-2fae868bd2f6" Alias="DividerContentSettings - DividerStyle - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>DividerContentSettings - DividerStyle - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3"
  ]
}]]></Config>
</DataType>