.giscus, .giscus-frame {
  width: 100%;
  min-height: 150px;
}

.giscus-frame {
  border: none;
  color-scheme: light dark;
}
.giscus-frame--loading {
  opacity: 0;
}

/*
     FILE ARCHIVED ON 02:52:04 Jul 07, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:24:27 May 09, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.42
  load_resource: 155.084
  PetaboxLoader3.resolve: 58.967
  PetaboxLoader3.datanode: 94.149
*/