@using Blog.Helper
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits UmbracoViewPage<Home>
@{

    Layout = "master.cshtml";


    var categories = (Umbraco.GetPageByAlias("articleCategories") as ArticleCategories)?.Descendants().Select(x => x as ArticleCategory);
}


@* Header banner (could also be a partial if used on multiple pages) *@
<div class="section sticky">
    <div class="container">
        <div class="text-box _700px centre">
            <div class="text-align-centre">
                <h1 class="heading extra-large">
                    @Model.HeroText
                </h1>
                <div class="spacer _40"></div>
            </div>
        </div>
    </div>
</div>

@* Blog posts section *@
<div class="section posts">
    <div class="inset-container">
        <div class="container">
            <div class="blog-grid">
                <div class="navigation-wrapper">
                    <a href="" class="navigation-link">All</a>

                    <div class="w-dyn-list">
                        <div role="list" class="collection-list-nav w-dyn-items">
                            @foreach (var cat in categories!)
                            {
                                <div role="listitem" class="w-dyn-item">
                                    <a href="" class="navigation-link">@cat!.ArticleCategoryName</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="posts-wrapper w-dyn-list">
                    <div role="list" class="posts-grid w-dyn-items">

                        @foreach (var post in Model.ArticlesHighlight!)
                        {
                            @await Html.PartialAsync("_BlogPostItem", post as ArticlesItem)
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
