<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="783c2298-38a8-4795-bd85-e01fcb6debf3" Alias="articleCategory" Level="1">
  <Info>
    <Name>ArticleCategory</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>articleCategory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38a785af-0c0d-4792-97a2-8407575c7da7">articleCategory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8e2c18e1-1e45-4ce3-96d6-742ac477cd7d</Key>
      <Name>ArticleCategoryName</Name>
      <Alias>articleCategoryName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="articleCategoryName">ArticleCategoryName</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f2aa551e-28fc-4a68-abc2-a79811b4d301</Key>
      <Caption>ArticleCategoryName</Caption>
      <Alias>articleCategoryName</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>