<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd9090da-7352-4d7b-bfbb-4cfff566c358" Alias="articlesItem" Level="1">
  <Info>
    <Name>ArticlesItem</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="bab458e4-081e-47b6-951d-9a7533ec2a86">articleBase</Composition>
    </Compositions>
    <DefaultTemplate>article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="72da0212-ad9c-48fc-8a84-645acd587c42">article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>