<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1661939d-f529-4e47-a2c1-5038a22bf44d" Alias="contacts" Level="1">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="861167de-983f-43c8-8c78-5bdc220f3892">contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>