<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a551aef-0004-46cb-9026-c43cfa453337" Alias="imageContentSettings" Level="3">
  <Info>
    <Name>ImageContentSettings</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>ArticleContent/Settings</Folder>
    <Compositions>
      <Composition Key="223c47ea-7191-4e52-9e85-6d956efb8ae4">tocEntry</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>