<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bdbb816-4a60-4b9d-9937-52837d60c96e" Alias="About" Level="2">
  <Info>
    <Parent Key="ec17e87b-3304-4fc3-bfcc-630c909e740d">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2025-02-10T13:06:17</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9e933572-9625-4c5e-a7b1-75d38ba89391">about</Template>
  </Info>
  <Properties>
    <aboutImagesList>
      <Value><![CDATA[[
  {
    "key": "14c243d3-ae78-4b38-954d-06dd95bd6337",
    "mediaKey": "94d69d13-88bf-4052-b232-1a2514f6a6d1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "41cf85e3-f216-49f0-a2a5-d7bdc2cfa907",
    "mediaKey": "66b050f8-68f8-4c91-857c-b311824d3c65",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b383686d-b4da-4690-9bb5-3d006df29b02",
    "mediaKey": "3731df74-10b9-4cd8-b98c-7043593abd8c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2318b424-416d-4cbc-9571-eef6c7541a54",
    "mediaKey": "fce3030a-a59b-4d2f-9acd-b10da0ddb341",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9ef345c0-fc26-488f-a5c4-c2f439ddc0c9",
    "mediaKey": "f867c8fc-1ceb-4319-812b-fafb0487cebb",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutImagesList>
    <leftWhatText>
      <Value><![CDATA[What?]]></Value>
    </leftWhatText>
    <whatDescription>
      <Value><![CDATA[There will be description about purposes of this site]]></Value>
    </whatDescription>
    <whoDescription>
      <Value><![CDATA[There will be description about author of this site]]></Value>
    </whoDescription>
    <whoLeftText>
      <Value><![CDATA[Who?]]></Value>
    </whoLeftText>
  </Properties>
</Content>