<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd3d7e50-e131-43c3-9a9b-2b5fa0ee096a" Alias="Articles" Level="2">
  <Info>
    <Parent Key="ec17e87b-3304-4fc3-bfcc-630c909e740d">Home</Parent>
    <Path>/Home/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>articlesMain</ContentType>
    <CreateDate>2025-02-10T11:51:03</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ae4d646-89dd-41aa-9893-cb3b0b621a43">articlesMain</Template>
  </Info>
  <Properties>
    <bodyDescription>
      <Value><![CDATA[descr]]></Value>
    </bodyDescription>
    <bodyTitle>
      <Value><![CDATA[title]]></Value>
    </bodyTitle>
    <cardImage>
      <Value><![CDATA[]]></Value>
    </cardImage>
    <category>
      <Value><![CDATA[umb://document/bb9d1afe7c124711bf8a907caa37ba95]]></Value>
    </category>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3678bf30-0761-4fa0-8ea7-8e369180b43a",
      "key": "d5a7e46d-31dd-4a75-8944-38201f6cdbea",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003Eqwe\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4115a917-6c5c-46f3-aef0-b76109c84ef9",
      "key": "da9f572b-9693-4176-bd74-3d271b5badaa",
      "udi": null,
      "values": [
        {
          "alias": "tocText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "tocAnchor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "tocLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "isEnabled",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d5a7e46d-31dd-4a75-8944-38201f6cdbea",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 3,
        "contentKey": "d5a7e46d-31dd-4a75-8944-38201f6cdbea",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "da9f572b-9693-4176-bd74-3d271b5badaa",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <description>
      <Value><![CDATA[Simple Description]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b1929de7-1621-4aef-8ebc-ba79ec98c563",
    "mediaKey": "73854f92-c13b-41d1-93d2-8d05110ff3f2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <readTime>
      <Value><![CDATA[10]]></Value>
    </readTime>
    <relatedArticles>
      <Value><![CDATA[]]></Value>
    </relatedArticles>
    <title>
      <Value><![CDATA[List of an Articles]]></Value>
    </title>
  </Properties>
</Content>