<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb9d1afe-7c12-4711-bf8a-907caa37ba95" Alias="C#" Level="3">
  <Info>
    <Parent Key="4aee6d13-e0d8-4f27-a4a7-561420c0cb53">Categories</Parent>
    <Path>/Home/Categories/C</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCategory</ContentType>
    <CreateDate>2025-02-10T14:15:19</CreateDate>
    <NodeName Default="C#" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="38a785af-0c0d-4792-97a2-8407575c7da7">articleCategory</Template>
  </Info>
  <Properties>
    <articleCategoryName>
      <Value><![CDATA[C#]]></Value>
    </articleCategoryName>
  </Properties>
</Content>