<?xml version="1.0" encoding="utf-8"?>
<Content Key="4aee6d13-e0d8-4f27-a4a7-561420c0cb53" Alias="Categories" Level="2">
  <Info>
    <Parent Key="ec17e87b-3304-4fc3-bfcc-630c909e740d">Home</Parent>
    <Path>/Home/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCategories</ContentType>
    <CreateDate>2025-02-10T14:14:54</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>