<?xml version="1.0" encoding="utf-8"?>
<Content Key="098fc15d-4917-4b5d-92f6-091d36c4fa1e" Alias="Contacts" Level="2">
  <Info>
    <Parent Key="ec17e87b-3304-4fc3-bfcc-630c909e740d">Home</Parent>
    <Path>/Home/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contacts</ContentType>
    <CreateDate>2025-02-10T13:06:29</CreateDate>
    <NodeName Default="Contacts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="861167de-983f-43c8-8c78-5bdc220f3892">contacts</Template>
  </Info>
  <Properties />
</Content>