<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec17e87b-3304-4fc3-bfcc-630c909e740d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-02-10T11:15:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5e074323-8062-4dfc-aa92-b4b725a788cc">homePage</Template>
  </Info>
  <Properties>
    <articlesHighlight>
      <Value><![CDATA[umb://document/721cda9aeecf49808895ce4284c958a3]]></Value>
    </articlesHighlight>
    <headerText>
      <Value><![CDATA[Forevka]]></Value>
    </headerText>
    <heroText>
      <Value><![CDATA[Blog to share my thoughts]]></Value>
    </heroText>
    <mainBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "7cfd267e-9fa6-4523-bff8-911bee827797",
    "mediaKey": "b16ec536-10a9-42de-b31f-8d10a034623f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainBackgroundImage>
  </Properties>
</Content>