@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = Model.AncestorOrSelf<Home>()!;
}

<div class="section">
    <div class="inset-container cta">
        

        <div class="container support-ukraine">
            <div class="text-box _700px centre" style="    max-width: 60rem !important;">
                <div class="text-align-centre">
                    <a href="https://u24.gov.ua/" style="display: block !important;" target="_blank">
                        <img src="https://raw.githubusercontent.com/vshymanskyy/StandWithUkraine/main/banner2-no-action.svg">
                    </a>
                </div>
            </div>
            <div class="blurred-circle"></div>
            <div class="blurred-circle bottom-right"></div>
        </div>
    </div>
</div>