@model string

<h1 class="heading extra-large title">
    @Model
    <div class="aurora">
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
    </div>
</h1>
