@{
    Layout = "ArticleComponents/BaseContainer";
}

<div class="style-guide-section-header">
    <h2 class="heading small">Buttons</h2>
    <div class="spacer _8"></div>
    <p class="paragraph">The different types of buttons used through the site</p>
</div>
<div class="button-wrapper">
    <div>
        <h3 class="style-guide-label">Primary</h3>
        <a href="#" class="button-secondary w-button">Sign Up</a>
    </div>
    <div>
        <h3 class="style-guide-label">Primary small</h3>
        <a href="#" class="button-secondary small w-button">Sign Up</a>
    </div>
</div>
<div class="spacer _48"></div>
<div class="button-wrapper">
    <div>
        <h3 class="style-guide-label">Secondary</h3>
        <a href="#" class="button w-button">Sign Up</a>
    </div>
    <div>
        <h3 class="style-guide-label">Secondary small</h3>
        <a href="#" class="button small w-button">Sign Up</a>
    </div>
</div>