@{
    Layout = "ArticleComponents/BaseContainer";
}

<div class="style-guide-section-header">
    <h2 class="heading small">Colors</h2>
    <div class="spacer _8"></div>
    <p class="paragraph">The different colours used through the site</p>
</div>
<div class="style-guide-colour-grid">
    <div class="style-guide-colour-block">
        <div class="color-block"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block">
        <div class="color-block background-2"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block">
        <div class="color-block background-3"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block">
        <div class="color-block background-4"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block">
        <div class="color-block text-4"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block">
        <div class="color-block text-3"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block">
        <div class="color-block text-2"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block">
        <div class="color-block text-1"></div>
        <div class="spacer _24"></div>
    </div>
    <div class="style-guide-colour-block gradient"></div>
    <div class="style-guide-colour-block primary">
        <div class="color-block background-primary"></div>
        <div class="spacer _24"></div>
    </div>
</div>