@{
    Layout = "ArticleComponents/BaseContainer";
}

<div class="style-guide-section-header">
    <h2 class="heading small">Spacers</h2>
    <div class="spacer _8"></div>
    <p class="paragraph">Use spacers to add breathing room around elements</p>
</div>
<div>
    <div class="column desk-9">
        <div>
            <h3 class="style-guide-label">4 px</h3>
            <div class="visible-spacer">
                <div class="spacer _4"></div>
            </div>
        </div>
        <div>
            <h3 class="style-guide-label">8 px</h3>
            <div class="visible-spacer">
                <div class="spacer _8"></div>
            </div>
        </div>
        <div>
            <h3 class="style-guide-label">16 px</h3>
            <div class="visible-spacer">
                <div class="spacer _16"></div>
            </div>
        </div>
        <div>
            <h3 class="style-guide-label">24 px</h3>
            <div class="visible-spacer">
                <div class="spacer _24"></div>
            </div>
        </div>
    </div>
    <div class="column desk-9">
        <div>
            <h3 class="style-guide-label">32 px</h3>
            <div class="visible-spacer">
                <div class="spacer _32"></div>
            </div>
        </div>
    </div>
    <div class="column desk-9">
        <div>
            <h3 class="style-guide-label">48 PX</h3>
            <div class="visible-spacer">
                <div class="spacer _48"></div>
            </div>
        </div>
    </div>
    <div class="column desk-9">
        <div>
            <h3 class="style-guide-label">64 PX</h3>
            <div class="visible-spacer">
                <div class="spacer _64"></div>
            </div>
        </div>
    </div>
    <div class="column desk-9">
        <div>
            <h3 class="style-guide-label">80 PX</h3>
            <div class="visible-spacer">
                <div class="spacer _80"></div>
            </div>
        </div>
    </div>
    <div class="column desk-9">
        <div>
            <h3 class="style-guide-label">96 PX</h3>
            <div class="visible-spacer">
                <div class="spacer _96"></div>
            </div>
        </div>
    </div>
    <div class="column desk-9">
        <div>
            <h3 class="style-guide-label">128 PX</h3>
            <div class="visible-spacer">
                <div class="spacer _128"></div>
            </div>
        </div>
    </div>
</div>