@{
    Layout = "ArticleComponents/BaseContainer";
}

<div class="style-guide-section-header">
    <h2 class="heading small">Text Boxes</h2>
    <div class="spacer _8"></div>
    <p class="paragraph">Boxes of different sizes to house text elements</p>
</div>
<div class="text-box">
    <h3 class="style-guide-label">400px</h3>
    <div class="text-box _400px visible-text-box"></div>
</div>
<div class="text-box">
    <h3 class="style-guide-label">500px</h3>
    <div class="text-box _500px visible-text-box"></div>
</div>
<div class="text-box">
    <h3 class="style-guide-label">600px</h3>
    <div class="text-box _600px visible-text-box"></div>
</div>
<div class="text-box">
    <h3 class="style-guide-label">700px</h3>
    <div class="text-box _700px visible-text-box"></div>
</div>
<div class="text-box">
    <h3 class="style-guide-label">800px</h3>
    <div class="text-box _800px visible-text-box"></div>
</div>