@using Blog.Helper
@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<DividerContent, DividerContentSettings>>
@{
    Layout = "ArticleComponents/BaseContainer";
}


<div class="divider">

</div>

