<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9e97945-d2db-41ad-b076-f01200ee04e8" Alias="1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T11:59:02</CreateDate>
    <NodeName Default="1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zkzl4h3s/1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>