<?xml version="1.0" encoding="utf-8"?>
<Media Key="94713aad-2369-41a0-add8-e2c2833e734d" Alias="1_AxeeLXThUSbThHRwamFmHA.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AxeeLXThUSbThHRwamFmHApng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T18:16:17</CreateDate>
    <NodeName Default="1_AxeeLXThUSbThHRwamFmHA.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/elydoiqa/1_axeelxthusbthhrwamfmha.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>