<?xml version="1.0" encoding="utf-8"?>
<Media Key="42bc6a2d-7817-40bd-9af3-f5006bff4bf2" Alias="1_I9RzGzxSQUdDu66-K_pXUg.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/I9RzGzxSQUdDu66K_pXUgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-11T20:22:52</CreateDate>
    <NodeName Default="1_I9RzGzxSQUdDu66-K_pXUg.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ukqpv3d4/1_i9rzgzxsquddu66-k_pxug.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>