<?xml version="1.0" encoding="utf-8"?>
<Media Key="03c4d520-f0e3-4977-bbd8-1fa44ab88bf5" Alias="200_.jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T13:47:50</CreateDate>
    <NodeName Default="200_.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v2pjfnmk/200_.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>