<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa5e786e-5150-445b-833d-5cdbdcbeb05e" Alias="200_ (2).jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T13:47:49</CreateDate>
    <NodeName Default="200_ (2).jpeg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2gzbqtbz/200_-2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>