<?xml version="1.0" encoding="utf-8"?>
<Media Key="da488a4d-8da8-4076-9ad3-8b7c04d370ed" Alias="image.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/imagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-11T20:24:06</CreateDate>
    <NodeName Default="image.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yjaa21gb/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>