<?xml version="1.0" encoding="utf-8"?>
<Media Key="94d69d13-88bf-4052-b232-1a2514f6a6d1" Alias="photo_2024-09-16_14-22-20.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo_20240916_142220jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T13:47:50</CreateDate>
    <NodeName Default="photo_2024-09-16_14-22-20.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/trljaiww/photo_2024-09-16_14-22-20.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>