<?xml version="1.0" encoding="utf-8"?>
<Media Key="66b050f8-68f8-4c91-857c-b311824d3c65" Alias="photo_2024-09-10_17-19-01.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo_20240910_171901jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T13:47:50</CreateDate>
    <NodeName Default="photo_2024-09-10_17-19-01.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o4npnuer/photo_2024-09-10_17-19-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>