<?xml version="1.0" encoding="utf-8"?>
<Media Key="f867c8fc-1ceb-4319-812b-fafb0487cebb" Alias="photo_2025-02-09_08-10-29.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/photo_20250209_081029jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T13:48:55</CreateDate>
    <NodeName Default="photo_2025-02-09_08-10-29.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ombcctuc/photo_2025-02-09_08-10-29.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>